/* .dropdown-button {
    background-color: whitesmoke;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    display: flex;
    flex-direction: column;
} */

.navbar-menu h1{
  position: absolute;
  left: 50%;
  font-size: 35px;
  overflow: hidden;

  
}

.navbar-menu{
    position: relative;
   display: flex;
   flex-direction: row;
   border: 1px solid black;
   /* background-color: rgba(245, 245, 220, 0.482); */
   padding: 5px 5px;
   height: 80px;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.538);
   margin:10px;
   align-items: center;      /* ✅ vertical center */
  justify-content: flex-start; 

   
}
/* .navbar-menu button{
    display: flex;
    flex-direction: row;

    padding: 5px;
    margin: 5px 5px;
    font-weight: bold;
    border:none ;
    
} */

/* .dropdown-icon {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}
.dropdown-menu {
    position: relative;
    width: 250px;
    padding: 10px;

   
}
.navbar-menu {
    position: absolute;
    background-color: rgb(246, 243, 243);
}


.subdropdown-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    width: auto;
    padding: 10px;
}
.group {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.subdropdown-sort {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
   
}
.sort {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
} */
