.dropdown-button {
    background-color: whitesmoke;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center; /* Align text and icon */
    display: flex;
    /* flex-direction: column; */
}

.dropdown-icon {
    margin-left: 8px; /* Add space between text and icon */
    width: 16px;
    height: 16px;
}
.dropdown-menu {
    position: relative;
    width: 250px;
    padding: 10px;

    /* background-color: blue; */
}
.navbar-menu {
    position: absolute;
    background-color: rgb(246, 243, 243);
}
.navbar {
    padding: 10px;
}

.subdropdown-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 1rem; */
    width: auto;
    padding: 10px;
}
.group {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.subdropdown-sort {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    /* margin: 5px; */
}
.sort {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
